# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Universidad\Algoritmos y Estructuras de Datos II\TPs\Individual\algo2-2021c1-individual\g1\taller\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
